body{
    background: rgb(31, 191, 244);
    color: #000000ff;
    text-align: center;
    font: normal 14pt arial;
}

section{
    background: rgb(246, 246, 246);
    border-radius: 10px;
    padding: 1px;
    width: 500px;
    margin: auto;
    text-align: left;
    
}